img {
    border-radius: 50%;
    width: 30%;
    margin-left: 30px;
    
}
body {
    background-color:blue;
}

p {
    color: red;
}

h3 {
    color: palevioletred;
    background-color: black;
}

hr {
    /* background-color: white; */
    border-style: dotted none none;
    /* height: 2px; */
    width: 30%;
    border-color: grey;
    border-width:5px;
  
}